@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  position: relative;
  color: #000000;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
}

.body-bg {
  background-image: url("images/blanket.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.body-game {
  background-image: url("images/blanket-game.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  padding-bottom: 10px;
  color: #bb0000;
  text-shadow: 0 0 5px #000000;
  pointer-events: none;
}

p {
  margin: 10px;
  font-size: 8px;
}

.hide {
  display: none;
}

#header {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#score,
#game-over,
#time-left {
  margin: 10px;
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
}

#game-over {
  text-align: center;
}

#start-game button {
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  font-weight: bold;
}

#wasps {
  width: 100%;
  height: 55%;
  display: none;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  cursor: url("images/swatter.png") 60 20, move;
}

.portal {
  width: 100px;
  height: 80px;
  margin: 0 25px;
  background-image: url("images/portal.png");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wasp {
  width: 100px;
  height: 80px;
}

#ground {
  width: 100%;
  height: 10%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#made-by {
  width: 100px;
}

@media (min-width: 400px) {
  h1 {
    font-size: 25px;
  }

  p {
    font-size: 12px;
  }

  #score {
    font-size: 30px;
  }

  .portal {
    width: 150px;
    height: 120px;
  }

  .wasp {
    width: 150px;
    height: 120px;
  }

  #made-by {
    width: 150px;
  }
}

@media (min-width: 700px) {
  h1 {
    font-size: 40px;
  }

  p {
    font-size: 12px;
  }

  #score {
    font-size: 30px;
  }

  #made-by {
    width: 150px;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 60px;
  }

  p {
    font-size: 18px;
  }

  #score {
    font-size: 50px;
  }

  .portal {
    margin: 0 150px;
  }

  #made-by {
    width: 200px;
  }
}

@media (min-width: 1300px) {
  .portal {
    margin: 0 150px;
  }
}
